
@{
    ViewBag.Title = "About";
}



<head>

    <link href="@Url.Content("~/css/about.css")" rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
</head>

<div class="about-section">
    <h1>Who We Are</h1>
    <p>We are a group of senior MIS students from Bogazici University, Turkey</p>
    <p>Below you can find some information about us.</p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
    <div class="column">
        <div class="card">
            <img src="/RoomImages/melih.jpeg" width="200" height="200" style="margin-left:70px">
            <div class="container">
                <h2 style="margin-left:70px">Melih Doğan</h2>
                <p class="title">Product Owner</p>
                <p>melih.dogan@boun.edu.tr</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="/RoomImages/egemen3.jpg" width="200" height="200" style="margin-left:70px">
            <div class="container">
                <h2>Egemen Barış Durmaz</h2>
                <p class="title">Back-end Developer</p>
                <p>egemen.durmaz@boun.edu.tr</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="/RoomImages/beril.jpeg" width="200" height="200" style="margin-left:70px">
            <div class="container">
                <h2 style="margin-left:70px">Beril Akın</h2>
                <p class="title">Front-end Developer</p>
                <p>beril.akin@boun.edu.tr</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="column">
        <div class="card">
            <img src="/RoomImages/betül.jpeg" width="200" height="200" style="margin-left:70px">
            <div class="container">
                <h2 style="margin-left:30px">Tuba Betül Taşkın</h2>
                <p class="title">Front-end Developer</p>
                <p>betül.taskin@boun.edu.tr</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="/RoomImages/batuhan.jpeg" width="200" height="200" style="margin-left:70px">
            <div class="container">
                <h2 style="margin-left:50px">Batuhan Alıcılar</h2>
                <p class="title">Back-end Developer</p>
                <p>batuhan.alicilar@boun.edu.tr</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="/RoomImages/faruk.jpeg" width="200" height="200" style="margin-left:70px">
            <div class="container">
                <h2 style="margin-left:70px">Faruk Erten</h2>
                <p class="title">Back-end Developer</p>
                <p>faruk.erten@boun.edu.tr</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>
</div>
