
@{
    ViewBag.Title = "Index";
}



<head>

    <link href="@Url.Content("~/css/main.css")" rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
</head>


<div class="bg-image">
    <h2 style="font-size:40px">Welcome to CROWN Hotel!</h2>
</div>
